* {
    margin: 0;
    box-sizing: border-box;
  } 
.head{
    width: 100%;
   height: auto;
}

.logo{
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    
}



.ren-h1{
	justify-content: center;
	display: flex;
	color: honeydew;
	font-size: 48px;
}

.var, .italok{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 32px;
	color: honeydew;
}

.var-1, .var-2, .var-3, .drink-1, .drink-2, .drink-3{
	border-radius: 4px;
	border: 1px solid grey;
	padding: 32px;
	margin: 16px;
	width: 400px;
	font-size: 24px;
}
.end{
	font-size: 24px;
	color: honeydew;
	text-align: center;
}








